#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock-42809_1280.png) no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{

    height: 109px;
    width: 5px;
    top: 147px;
    left: 254px;
    transform-origin: bottom;
}
#minute{
    
    height: 142px;
    width: 4px;
    top: 116px;
    left: 254px;
     transform-origin: bottom;
    
}
#second{
    height: 138px;
    width: 3px;
    top: 120px;
    left: 255px;
    transform-origin: bottom;
}